services:
  webhook:
    build: .
    container_name: flask_webhook
    restart: always
    environment:
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    networks:
      - proxy

networks:
  proxy:
    external: true
    name: ${PROXY_NETWORK}